[webfaction-ssh]
DOMAIN: my-domain.com
USER: username
PASS: password

[webfaction]
DOMAIN: my-domain
USER: username
PASS: password

[bluehost-ssh]
DOMAIN: my-other-domain
USER: username
PASS: password

# Customize this and rename to so it's just secrets.ini
# oh and delete these lines - probablly